.container-Contacto{
    display: flex;
    flex-direction: column;
    color: white;
}
.container-Contacto h1{
    font-family: 'Anton', sans-serif;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    align-self: center;
    background-color: rgb(54, 54, 54);
    border-radius: 50px;
    width: 20%;
    text-align: center;
    box-shadow:0 0 20px 0 rgba(255,255,255,.55);
    font-size: 2.8vw;
}

.container-Contacto img{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

.container-Contacto li{
    list-style: none;
}

.container-Contacto .logoContacto {
    vertical-align: middle;
    width: 50px;
    height: auto;
}

.container-Contacto a{
    text-decoration: none;
    color: white;
}

.container-Contacto .item2 ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-Contacto .item3{
    display: flex;
    justify-content: center;
}

@media (max-width: 599px) {
    .container-Contacto h1{
        width: 230px;
        font-size: 35px;
    }
}