.container-Experiencias{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.container-Experiencias h1{
    font-family: 'Anton', sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    align-self: center;
    background-color: rgb(54, 54, 54);
    border-radius: 50px;
    width: 20%;
    text-align: center;
    box-shadow:0 0 20px 0 rgba(255,255,255,.55);
    font-size: 2.8vw;
}

.container-Experiencias h3{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border-radius: 50px;
    width: 40%;
    text-align: center;
    font-size: 2.7vw;
    box-shadow:0 0 20px 0 rgba(255,255,255,.55);
}

.container-Experiencias p{
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 1.8vw;
}

@media (max-width: 599px) {
    .container-Experiencias{
        width: 100%;
    }
    .container-Experiencias h1{
        margin-top: 100px;
        font-size: 35px;
        width: 300px;
    }
    .container-Experiencias p{
        color: white;
        padding: 15px;
        font-size: 20px;
    }
    .container-Experiencias h3{
        font-size: 30px;
        box-shadow:0 0 20px 0 rgba(255,255,255,.55);
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 728px) {
    .container-Experiencias h3{
        font-size: 20px;
    }
    .container-Experiencias p{
       font-size: 18px;
    }
    .container-Experiencias h1{
        font-size: 35px;
        width: auto;
    }
}
