.container-Inicio{
    background-color: rgb(0, 0, 0);
    display: flex;
}

.container-Inicio .item1{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container-Inicio .item2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.container-Inicio img{
    width: 80%;
    max-height: 50%;
    height: auto;
    border-radius: 100px;
    box-shadow:0 0 20px 0 rgba(255,255,255,.55);
}

.container-Inicio h2{
    margin-top: 90px;
    align-self: center;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border-radius: 50px;
    width: 80%;
    text-align: center;
    font-size: 2.8vw;
    box-shadow:0 0 20px 0 rgba(255,255,255,.55);
    font-family: 'Anton', sans-serif;
}

.container-Inicio h1{
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    min-width: 300px;
    padding: 10px;
    margin: 0;
    font-size: 2.3vw;
    text-align: center;
}

.container-Inicio p {
    margin: 0;
    color: rgb(255, 255, 255);
    width: 90%;
    font-size: 23px;
    padding: 35px;
}

.container-Inicio h2,h1{
    animation:scale-up-horizontal-center 1.5s
} 

@keyframes scale-up-horizontal-center{
    0%{transform:scaleX(.2)}
    100%{transform:scaleX(1)}
}


.container-Inicio img{
    animation:rotate-vertical-center 1s
} 

@keyframes rotate-vertical-center{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}

.container-Inicio p {
    animation:tracking-in-contract 1s linear both
} 

@keyframes tracking-in-contract{
    0%{letter-spacing:.6em;opacity:0}
    40%{opacity:.6}
    100%{letter-spacing:normal;opacity:1}
}

@media (max-width: 599px) {
    .container-Inicio{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
    }

    .container-Inicio .item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container-Inicio p {
        margin: 0;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align:center;
    }

    .container-Inicio h2{
        margin-top: 100px;
        font-size: 30px;
        
    }
    .container-Inicio .item2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-Inicio h1{
        font-size:30px;
    }
    .container-Inicio img{
        width: 40%;
        max-height: 50%;
        height: auto;
    }
    
}

@media only screen and (min-width: 1025px) {
    .container-Inicio p {
        font-size: 23px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .container-Inicio p {
        font-size: 2.7vw;
    }
    .container-Inicio h2{
        font-size: 30px;
    }
    .container-Inicio h1{
        font-size: 25px;
    }
    .container-Inicio img{
        width: 80%;
        max-height: 50%;
        height: auto;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 728px) {
    .container-Inicio img{
        width: 40%;
        max-height: 50%;
        height: auto;
    }
    .container-Inicio{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
    }
    .container-Inicio .item2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .container-Inicio .item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
